.header {
	.header-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.default {
	display: flex;
	@media only screen and (max-width: $bp-small) {
		flex-direction: column;
	}

	.sec-1 {
		flex: 1 0 0%;

		display: flex;
		flex-direction: column;
		justify-content: center;

		.sec-1-content {
			align-self: center;
		}
	}

	.sec-2 {
		flex: 1 0 0%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
