.center-text {
	text-align: center;
}

.cursor-pointer {
	cursor: pointer;
}

.font-bold {
	font-weight: 700;
}

// text size
.text-sm {
	font-size: 1.2rem;
}

.text-md {
	font-size: 1.4rem;
}

.text-lg {
	font-size: 1.7rem;
}

.text-xl {
	font-size: 2rem;
}

// margin
.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 2rem;
}

.m-3 {
	margin: 3rem;
}

// margin top
.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 3rem;
}

// margin bottom
.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 3rem;
}

// padding
.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}

.p-3 {
	padding: 3rem;
}

// padding top
.pt-1 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: 2rem;
}

.pt-3 {
	padding-top: 3rem;
}

// padding bottom
.pb-1 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
}

.pb-3 {
	padding-bottom: 3rem;
}
